<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Microsoft Teams</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>



    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/123bd1392c.js" crossorigin="anonymous"></script>

    <!-- CSS STYLE SHEET -->
    <link rel="stylesheet" href="css/home.css">

    <!-- GOOGLE FONTS -->
    <link
        href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i,800,800i,900,900i|Ubuntu&display=swap"
        rel="stylesheet">


</head>

<body>

    <section id="title">

        <div class="container-fluid">

            <!-- Nav Bar -->

            <nav class="navbar navbar-expand-lg  navbar-dark">
                <a class="navbar-brand" href="">Microsoft Teams <i class="fab fa-microsoft"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ol class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.microsoft.com/en-in/microsoft-365">Microsoft 365</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#cta">Create Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#cta">Login</a>
                        </li>
                    </ol>
                </div>
            </nav>


            <!-- Title -->

            <div class="row">

                <div class="col-lg-6">
                    <h1 style="font-weight: 900;">Meet, chat, call, and collaborate in just one place.</h1>
                    <a class="btn btn-dark  btn-lg signup-button" href="/signup" role="button"><i class="fas fa-user-plus"></i> Sign Up For Free</a>
                    <a class="btn btn-outline-light  btn-lg signup-button" href="/signin" role="button"><i class="fas fa-sign-in-alt"></i> Sign In</a>
                </div>
                <div class="col-lg-6">
                    <img class="rightContent" src="images/teamsMeet.jpg" alt="teams-demo">
                </div>
            </div>
        </div>
    </section>


    <!-- Features -->

    <section id="features">

        <div class="row">
            <div class="feature-box  col-lg-4">
                <i class="icon fas fa-check-circle  fa-4x"></i>
                <h3>Easy to use.</h3>
                <p>Microsoft Teams is for everyone!</p>
            </div>

            <div class="feature-box  col-lg-4">
                <i class="icon fas fa-heart  fa-4x"></i>
                <h3>Amazing UI</h3>
                <p>We have the best User Interface.</p>
            </div>

            <div class="feature-box  col-lg-4">
                <i class="fas fa-user-friends fa-4x"></i>
                <h3>Connect with Everyone.</h3>
                <p>Use MS Teams to connect with friends & family.</p>
            </div>
        </div>


    </section>
     <section id="describe">
         <h3 class="describe-meeting">Meet</h3>
         <img src="images/describe.png" alt="meet image">
     </section>
     <!-- Call to Action -->
    <section id="cta">

        <h3 class="cta-heading">Get Started With Microsoft Teams today!</h3>
        <a class="btn btn-dark  btn-lg signup-button" href="/signup" role="button"><i class="fas fa-user-plus"></i> Sign Up For Free</a>
        <a class="btn btn-outline-light  btn-lg signup-button" href="/signin" role="button"><i class="fas fa-sign-in-alt"></i> Sign In</a>

    </section>


    <!-- Footer -->

    <footer id="footer">

        <i class="social-icon fab fa-facebook"></i>
        <i class="social-icon fab fa-instagram"></i>
        <i class="social-icon fab fa-twitter"></i>
        <i class="fas fa-envelope"></i>
        <p>© Copyright 2021 Microsoft</p>
        <p>Made with ❤️ Karina Sharma</p>

    </footer>


</body>

</html>
